<div class="product{% unless product.available %} product--sold-out{% endunless %}{% if product.compare_at_price > product.price and product.available %} product--sale{% endif %} product--{% if settings.product_grid_image_size contains "crop" %}crop{% elsif settings.product_grid_image_size contains "fit" %}fit{% else %}natural{% endif %} product--{{ settings.product_grid_align }}{% if page == 'home' %} home-products__item{% endif %}">

    {% if settings.product_grid_label %}

        <!-- custom label -->
        {% assign custom_label = false %}
        {% for collection in product.collections %}
            {% if collection.title == collections[settings.product_grid_label_collection].title %}
                {% assign custom_label = true %}
            {% endif %}
        {% endfor %}

        <!-- new label -->
        {% assign new_label = false %}
        {% assign product_created_at = product.created_at | date: '%s' %}
        {% assign time_ago = 'now' | date: '%s' | minus: product_created_at | divided_by: 86400 %}
        {% if time_ago < settings.product_grid_label_new_days %}
           {% assign new_label = true %}
        {% endif %}

        {% if product.available == false %}
            <div class="product__label label label--light">
                <p class="product__label-text label__text">{{ 'products.product.sold_out' | t }}</p>
            </div>
        {% elsif custom_label %}
            <div class="product__label label label--brand">
                <p class="product__label-text label__text">{{ settings.product_grid_label_title }}</p>
            </div>
        {% elsif product.compare_at_price > product.price %}
            <div class="product__label label label--brand">
                {% if settings.product_grid_label_sale_style == 'text' %}
                    <p class="product__label-text label__text">{{ 'products.product.on_sale' | t }}</p>
                {% else %}
                    <p class="product__label-text label__text">-{{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_max | money_without_currency | times: 100 | remove: '.0'}}%</p>
                {% endif %}
            </div>
        {% elsif new_label and settings.product_grid_label_new %}
            <div class="product__label label label--brand">
                <p class="product__label-text label__text">{{ 'products.product.new' | t }}</p>
            </div>
        {% endif %}
        
    {% endif %}
    
    <div class="product-top">
        <a href="{{ product.url | within: collection }}" class="product-link{% if page == 'home' %} home-products__link{% endif %}" title="{{ product.title }}" tabindex="-1">
            <div class="product__media{% if settings.product_grid_second_hover and product.images[1] != blank %} product__media--hover{% endif %}">

                {% case settings.product_grid_image_size %}
                    {% when 'natural' %}
                        {%- assign product_ratio = 'custom' -%}
                    {% when 'fit-square' or 'crop-square' %}
                        {%- assign product_ratio = '1:1' -%}
                    {% when 'fit-short' or 'crop-short' %}
                        {%- assign product_ratio = '4:3' -%}
                    {% when 'fit-tall' or 'crop-tall' %}
                        {%- assign product_ratio = '2:3' -%}
                {% endcase %}

                <div class="o-ratio o-ratio--{{ product_ratio }}"{% if settings.product_grid_image_size == 'natural' %} style="padding-bottom:{{ 1 | divided_by: product.featured_image.aspect_ratio | times: 100 }}%;"{% endif %}>

                    <div class="o-ratio__content">
                        
                        <div class="theme-spinner"></div>

                        {% if settings.product_grid_second_hover and product.images[1] != blank %}
                            <div class="product__img-hover img-lazyload lazyload js"
                                data-bgset="{% include 'bgset', image: product.images[1] %}"
                                data-sizes="auto"
                                data-parent-fit="cover"></div>
                            <noscript>
                                <div class="product__img-hover" style="background-image: url('{{ product.images[1] | img_url: '720x720' }});">
                                </div>
                            </noscript>
                        {% endif %}

                        {%- assign img_url = product.featured_image.src | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                        <img class="product__img img-lazyload lazyload js"
                            data-src="{{ img_url }}"
                            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512]"
                            data-sizes="auto"
                            alt="{{ product.featured_image.alt | escape }}">
                        <noscript>
                            <img class="product__img"
                                src="{{ product.featured_image.src | img_url: '720x' }}" 
                                alt="{{ product.featured_image.alt | escape }}">
                        </noscript>

                    </div>
                </div>

            </div>
        </a>
    
        {% unless settings.product_grid_quick_buy == 'disabled' %}
            <div class="product-btn product-btn--{{ settings.product_grid_quick_buy }}">
                {% if product.available == false %}
                    <a href="{{ product.url | within: collection }}" class="c-btn c-btn--full c-btn--light c-btn--small-tab product-btn__btn">{{ 'products.product.sold_out' | t }}</a>
                {% elsif product.variants.size > 1 %}
                    <a href="{{ product.url | within: collection }}" class="c-btn c-btn--full c-btn--primary c-btn--arrow c-btn--small-tab product-btn__btn">{{ 'products.product.select_options' | t }}</a>
                {% else %}
                    {% form 'product', product, class: "js-product-form" %}
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                        <button type="submit" name="add" class="c-btn c-btn--full c-btn--plus c-btn--primary c-btn--small-tab product-btn__btn js-product-add">
                            <span class="js-product-add-text">{{ 'products.product.add_to_cart' | t }}</span>
                        </button>
                    {% endform %}
                {% endif %}
            </div>
        {% endunless %}
    </div>

    <a href="{{ product.url | within: collection }}" class="product-link{% if page == 'home' %} home-products__link{% endif %}" title="{{ product.title }}">
        <div class="product__details">
            <h3 class="product__title h4">{{ product.title }}</h3>

            {% if settings.product_grid_vendor %}
                <h4 class="product__vendor h6">{{ product.vendor }}</h4>
            {% endif %}

            <p class="product__price h5">
                {% include 'product-price' %}
            </p> 

            {% if settings.product_reviews and settings.product_grid_reviews %}
                <div class="product__reviews">
                    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
            {% endif %}

        </div>
    </a>

</div>